<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimenting</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/nav.css">
    <% cssFilesNames.forEach(fileName => { %>
        <link rel="stylesheet" href="/css/<%= fileName %>.css">
    <% }); %>
    <% jsFilesNames.forEach(fileName => { %>
        <script src="/js/<%= fileName %>.js" defer></script>
    <% }); %>
</head>
<body>
<%- include('./nav') %>
