<div class = "navContainer">
    <nav>
        <a href="/piecesViewer">pieces viewer</a>
        <pre>//</pre>
        <a href="/piecesViewer">terminal testing</a>
        <pre>//</pre>
        <a href="/piecesViewer">notes</a>
    </nav>
</div>