<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimenting</title>
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/piece.css">
    <script src="./js/pieceViewer.js" defer></script>
</head>
<body>
    <% pieces.map((piece, entityIndex) => { %>
        <%- include('partials/pieceDisplay', { piece, entityIndex}) %>
    <% }); %>
</body>
</html>

