<%- include('partials/head', {
    cssFilesNames : ["piecesViewer", "pieceView", "pieceAnimations"],
    jsFilesNames : ["pieceViewer"]
}) %>
    <% pieces.map((piece, entityIndex) => { %>
        <%- include('partials/pieceDisplay', { piece, entityIndex}) %>
    <% }); %>
</body>
</html>

