.entityContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pieceContainer {
    height: 225px;
    width : 225px;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0px 0px;
    margin: 0 auto;
    color : white;
    background-color: black;
    justify-content: space-between;
    border: 1px solid white;
}

.pieceName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
}

.pieceBody {
    height: fit-content;
    padding: auto;
    width: auto;
    margin : 0 auto;
    margin-bottom: 25px;
    font-size: 14px;
    padding: 10px;
}

.pieceRow {
    margin: 0;
    padding: 0;
    font-size: smaller;
    line-height: 5px;
    /*border: 1px solid red;*/
}

.noAnimation {

}

.breathing {
    animation: breathe 2s cubic-bezier(.47,.09,.91,.6) infinite;
}

@keyframes breathe {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 0.7px;
    }
    100% {
        letter-spacing: 0px;
    }
}

.pieceModifiers {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}

.animationSelector {
    border: 1px solid white;
    border-top : none;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

option {
    text-align: center;
    cursor: pointer;
}

